<div class="col-6">
      <div class="product_details" *ngIf="product?.quantite !==0">
        <div class="product_img">
          <img [src]="server+product?.logo" alt="logo" (click)="buyProduct()">
          <div class="qte">
            {{product?.quantite}}
          </div>
        </div>
        <div class="product_content">
          <div class="product_gain"> {{product?.revenu}}
          </div>
          <div class="product_price_content">

            <button class="product_price"><span> Buy </span>{{product?.cout}}</button>
        <div class="time">
        {{product?.timeleft}}
        </div>
          </div>
        </div>
  </div>

</div>
