.product_details{
  display: flex;
  align-items: center;

}
.row {
  display: flex;
  flex-wrap: wrap;
}

.col-6 {
  display: flex;
  padding: 10px;
  margin-left: 70px;
}
.product_img {
  display: grid;
  justify-items: center;
  background-color: white;
  border-radius: 45px;
  width: 110px;
  height: 90px;

  img {
    width: 85px;
    height: 85px;
    border-radius: 45px;
    align-self: center;
    cursor: pointer;
  }
}
.qte{
  margin-top: -5px;
  background-color: #559593;
  width: 100px;
  height: 25px;
  align-items: center;
  border-radius: 40px;
}
.product_content{
  padding-left: 30px;
  width: 350px;

}
.product_price{
  background-color: #9ABFBE;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:335px ;
  height:35px ;
  border: solid transparent;
}
.product_price.affordable:hover {
  background-color: #4E7372;
}

.product_price.affordable {
  background-color: #8a9797;
  box-shadow: 0 0 10px #20e3dc;

}
.product_gain{
  background-color: #9ABFBE;
  height:35px ;
  border-radius: 16px;
  align-items: center;
  display: grid;
  border: solid transparent;
}

.time{
  background-color: #559593;
  width: 100px;
  height: 35px;
  align-items: center;
  display: grid;
  border-radius: 16px;
  margin-left: 4px;

}

.product_price_content{
    margin-top: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.product_to_buy{
  padding: 30px;
  width: 460px;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.79);
  border-radius: 45px;
  cursor: pointer;
}
.product_to_buy:hover{
  background-color: rgba(255, 255, 255, 0.90);
}
.to_buy_details{
  margin-top: -72px;
}
.to_buy_icone{
  margin-right: 400px;
  margin-top: -43px;


}

.btn{
  all: unset;
}
