<div class="managers_page">
  <div class="page_header">
    <div class="title">
  <h5>MANAGERS</h5>
    </div>
    <button type="button" class="close-btn" data-bs-dismiss="modal" aria-label="Close">
      <img class="close-btn-img" src="assets/close-btn.jpeg">
    </button>
  </div>
  <div class="description">
    <em>Managers make life easier!</em>
<p>Hire one to run your buisnessfor you, or to maximize efficiency.
  <br>All for just one easy payment! Salary shmalary</p>
    </div>

  <div class="managers_list"  *ngFor="let manager of world.managers">
 <div class="managers_details" >
   <div class="manager_image">
     <img class="manager_image" [attr.src]="server + manager.logo"  alt="logo"/>
   </div>
   <div class="content">
   <div class="managername"> {{ manager.name}} </div>
     <div class="managercible"> {{ world.products?.[manager.idcible-1]?.name }} </div>
     <div class="managerseuil"> {{ manager.seuil}} </div>
   </div>
   <div class="hire_btn" (click)="hireManager(manager)" [ngClass]="{'affordable': world.money >= manager.seuil}">
     <button type="button"
             class="btn"
             [disabled]="manager.unlocked"
             >{{ manager.unlocked ? 'Hired!' : 'Hire !' }}</button>
   </div>
 </div>
  </div>
</div>
