.page_header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

}

.title {
  font-family: Orbitron;
  align-items: center;
  background-color: white;
  width: 326px;
  height: 60px;
  border-radius: 45px;
  align-content: center;
  text-align: center;
  margin-left: 370px;
  box-shadow: 6px 6px 15px #9ABFBE;
}
.close-btn {
  all: unset;
  display: inline-block;
  cursor: pointer;
}
.description{
  padding: 10px;
  text-align: center;
  font-family: EXO2;
  font-size: 20px;
  em{
    font-weight: bold;
  }
}
.unlocks_list{
  display: flex;
  justify-content: space-evenly;
}

.unlocks_details{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #9ABFBE;
  border-radius: 18px;
  width: 160px;
  height: 220px;
}

.unlocks_image{
  width: 55px;
  height: 60px;

}
.unlocks_image_container{
  background-color: #cde1e1;
  border-radius: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100px;
  height: 100px;
}

.unlocks_name{
  font-family: EXO2;
  font-weight: bold;
  padding: 5px;
}
.unlocks_quantity{
  margin-top: -5px;
  background-color: #559593;
  width: 80px;
  height: 25px;
  align-items: center;
  border-radius: 40px;
  text-align: center;
}

.unlocks_profit{
  font-family: EXO2;
  text-align: center;
  margin-top: 10px;
}
