@font-face {
  font-family: 'Luckiest_Guy';
  src: url('assets/fonts/Luckiest_Guy/LuckiestGuy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'EXO2';
  src: url('assets/fonts/Exo_2/Exo2-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Orbitron';
  src: url('assets/fonts/Orbitron/static/Orbitron-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
