<div class="mainPageW1">
  <div class="sidebar">
    <nav class="sidebar">
      <header>
        <a>
          <div class="image-text">
            <span class="navbarImage">
              <img [attr.src]="server+world.logo"  alt="img"/>
            </span>
          </div>
        </a>
      </header>

      <div class="menu-bar">
        <div class="menu">
          <ul class="menu-links">
            <li class="nav-link">
              <a type="button" class="btn custom-btn" data-bs-toggle="modal" data-bs-target="#unlocksModal">
                Unlocks
              </a>
            </li>

            <li class="nav-link">
              <a type="button" class="btn custom-btn" data-bs-toggle="modal" data-bs-target="#upgradesModal">
                <button  mat-raised-button
                         color="primary"
                         [matBadge]="upgradesBadge"
                         [matBadgeHidden]="upgradesBadge==0"
                >
                  Upgrades
                </button>
              </a>
            </li>

            <li class="nav-link">
              <a type="button" class="btn custom-btn" data-bs-toggle="modal" data-bs-target="#managersModal">
                <button  mat-raised-button class="boutonManagers" type="button"
                         color="primary"
                         [matBadge]="managersBadge"
                         [matBadgeHidden]="managersBadge==0"
                >
                  Managers
                </button>
              </a>
            </li>

            <li class="nav-link">
              <a type="button" class="btn custom-btn" data-bs-toggle="modal" data-bs-target="#investorsModal">
                <span>Investors</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div class="main_content">


  <div class="header">
  <div class="player_money">
    $ <span [innerHTML]="world.money | numberSuffix"></span>
  </div>
    <div class="buy_icon">

      <i class="fa-solid fa-tags fa-rotate-by" style="--fa-rotate-angle: 314deg;" (click)="onMultiplierChange()">
        <span>{{ multiplierLabel }}</span>
      </i>

    </div>
  </div>
  <div class="container text-center">
    <div class="container_center">
    <div class="col-6">
    <div class="row">
        <app-product [multiplier]="multiplier" [product]="world.products[0]" [world]="this.world" (notifyProduction)="onProductionDone($event)" (onBuy)="onBuy($event)" class="product"></app-product>
        <app-product [multiplier]="multiplier" [product]="world.products[1]" [world]="this.world" (notifyProduction)="onProductionDone($event)" (onBuy)="onBuy($event)" class="product"></app-product>
        <app-product [multiplier]="multiplier" [product]="world.products[2]" [world]="this.world" (notifyProduction)="onProductionDone($event)" (onBuy)="onBuy($event)" class="product"></app-product>
      </div>
      </div>
    <div class="col-6">
      <app-product [multiplier]="multiplier" [product]="world.products[3]" [world]="this.world" (notifyProduction)="onProductionDone($event)" (onBuy)="onBuy($event)" class="product"></app-product>
      <app-product [multiplier]="multiplier" [product]="world.products[4]" [world]="this.world" (notifyProduction)="onProductionDone($event)" (onBuy)="onBuy($event)" class="product"></app-product>
      <app-product [multiplier]="multiplier" [product]="world.products[5]" [world]="this.world" (notifyProduction)="onProductionDone($event)" (onBuy)="onBuy($event)" class="product"></app-product>
    </div>
    </div>
  </div>
    </div>












<!-- Modals-->

  <div class="modal fade" id="unlocksModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-body">
          <app-unlocks-w1 [wor]="world"></app-unlocks-w1>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="upgradesModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-body">
          <app-upgrades-w1 [wor]="world"></app-upgrades-w1>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="managersModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-body">
          <app-managers-w1 [wor]="world"></app-managers-w1>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="investorsModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-body">
          <app-investors-w1 [wor]="world"></app-investors-w1>
        </div>
      </div>
    </div>
  </div>

</div>
